<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shopnow">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignIn"
            android:label="Sign In"></activity>
        <activity android:name=".ORDBill" />
        <activity android:name=".OrderRecieved" />
        <activity android:name=".OrderDone" />
        <activity android:name=".sBill" />
        <activity android:name=".SKOrders" />
        <activity android:name=".AddToCart" />
        <activity android:name=".AddItem" />

        <service
            android:name=".Notification.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ChangePass"
            android:label="Change Password" />
        <activity
            android:name=".PassVerif"
            android:label="Code Verification" />
        <activity android:name=".ForgotPass" />
        <activity
            android:name=".ShopkeeperProfile"
            android:label="Your Profile" />
        <activity android:name=".PhoneVerification" />
        <activity android:name=".CustomerItems" />
        <activity
            android:name=".Bill"
            android:label="Your Bill" />
        <activity
            android:name=".CustomerCart"
            android:label="Your Cart" />
        <activity
            android:name=".CustomerProfile"
            android:label="Profile" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".ShopkeeperHome" />
        <activity android:name=".CustomerHome" />
        <activity
            android:name=".SIgnUp.ShopkeeperUp"
            android:label="Sign Up as Shop Keeper" />
        <activity
            android:name=".MainActivity"
            android:label="Shop Now" />
        <activity
            android:name=".SIgnUp.CustomerUp"
            android:label="Sign Up as Customer" />
        <activity android:name=".LogoPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>